@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@200;400&family=Saira&display=swap');


/* Beranda */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
  background: white;   
}

::-webkit-scrollbar-thumb {
  background: #22577E;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #22577E;
    height: auto;
}
.carousel-control-prev-icon{
  background-color: #C4C4C4;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}
.carousel-control-next-icon{
  background-color: #C4C4C4;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}
#pendaftaran{
    background: rgba(8, 110, 125, 0.51);
    padding: 60px;
    height: auto;
    position: relative;
}
.formDaftar{
    width: 45%;
    font-size: 0.9em;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn{
    width: 190px;
    height: auto;
    padding: 5px;
    background: #CCAC02;
    border-radius: 15px;
    font-style: bold;
    color: white;
}
.ilus1{
    position: absolute;
    bottom: 0;
}
.tataCara{
    background-color: #ffc900;
    padding: 60px;
}

.layananPengaduan{
    background-color: #96ceb4;
    margin: 0 auto;
    padding: 100px;
}

.formPengaduan{
    width: 65%;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccac02;
}

footer{
    background-color: #22577E;
    color:#fff;
    height: auto;
    padding: 20px;
    text-align: center;
}


/* Login Client */

/* .login-client{
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 12%;
}

.waveUp{
  width: 100%;
  position: absolute;
  top: 0;
}

.waveDown{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.login-form{
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 40%;
  height: auto;
  padding: 30px;
  margin: 0 auto;
}

.input-login{
  background-color: #CCAC02;
  border-radius: 30px;
  height: 55px;
  width: 374px;
  border: none;
  padding-left: 20px;
}

.input-login:focus{
  outline: none;
} */


/* Login2 Client */

/* .login-client{
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 12%;
}

.wave1{
  width: 100%;
  position: absolute;
  top: 0;
}

.wave2{
  width: 100%;
  position: absolute;
  bottom: 0;
} */

.login-form{
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 40%;
  height: auto;
  padding: 30px;
  position: absolute;
  right: 7%;
  top: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgot-form{
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  height: auto;
  padding: 30px;
  position: absolute;
  top: -45%;
  margin-left: 120%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-login{
  background-color: #fff;
  border-radius: 30px;
  height: 55px;
  width: 374px;
  border: 1px solid #ccac02;
  padding-left: 20px;
}

.input-login:focus{
  outline: none;
}

/* Rubah Sifat Client */

#penjelasan{
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #96CEB4;
}

#perizinan{
  background: rgba(255, 201, 0, 0.51);
  padding: 50px;
}

.formPerizinan{
  width: 55%;
  height: auto;
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 2% auto;
}

.textPenjelasan{
  margin-top: 5%;
}

@media only screen and (max-width:992px){
  #perizinan{
    padding: 50px 0 50px 0;
  }
  .formPerizinan{
    width: 100%;
  }
}

/* Rubah Bentuk Client */

#penjelasan{
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #96CEB4;
}

#perizinan{
  background: rgba(255, 201, 0, 0.51);
  padding: 50px;
}

.formPerizinan{
  width: 55%;
  height: auto;
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 2% auto;
}

.textPenjelasan{
  margin-top: 5%;
}

@media only screen and (max-width:992px){
  #perizinan{
    padding: 50px 0 50px 0;
  }
  .formPerizinan{
    width: 100%;
  }
}

/* Maps */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 400px;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        font-family: Roboto;
        padding: 0;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        margin-top: 3%;
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 40%;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }

/*Alur kordinasi*/

.card {
    margin: auto;
    width: 38%;
    max-width: 600px;
    padding: 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid #22577E;
    border-bottom: 3px solid #22577E;
    border-left: none;
    border-right: none
}

@media(max-width:768px) {
    .card {
        width: 90%
    }
}

.title {
    color: #22577E;
    font-weight: 600;
    margin-bottom: 2vh;
    padding: 0 8%;
    font-size: initial
}

#details {
    font-weight: 400
}

.info {
    padding: 5% 8%
}

.info .col-5 {
    padding: 0
}

#heading {
    color: grey;
    line-height: 6vh
}

.pricing {
    background-color: #ddd3;
    padding: 2vh 8%;
    font-weight: 400;
    line-height: 2.5
}

.pricing .col-3 {
    padding: 0
}

.total {
    padding: 2vh 8%;
    color: #22577E;
    font-weight: bold
}

.total .col-3 {
    padding: 0
}

.footer {
    padding: 0 8%;
    font-size: x-small;
    color: black
}

.footer img {
    height: 5vh;
    opacity: 0.2
}

.footer a {
    color: #22577E
}

.footer .col-10,
.col-2 {
    display: flex;
    padding: 3vh 0 0;
    align-items: center
}

.footer .row {
    margin: 0
}

#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #22577E;
    padding-left: 0px;
    margin-top: 3vh;
}

#progressbar2 {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #22577E;
    padding-left: 0px;
    margin-top: 3vh;
}

#progressbar li {
    list-style-type: none;
    font-size: x-small;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159)
}

#progressbar2 li {
    list-style-type: none;
    font-size: x-small;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159)
}


#progressbar #step1:before {
    content: "";
    color: #22577E;
    width: 5px;
    height: 5px;
    margin-left: 0px !important
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-left: 32%
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 32%
}

#progressbar #step4:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important
}

#progressbar #step5:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh
}

#progressbar li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 1px;
    z-index: 1
}

.progress-track {
    padding: 0 8%
}

#progressbar li:nth-child(2):after {
    margin-right: auto
}

#progressbar li:nth-child(1):after {
    margin: auto
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%
}

#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}

#progressbar li.active {
    color: black
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #22577E
}

#progressbar2 #step1:before {
    content: "";
    color: #22577E;
    width: 5px;
    height: 5px;
    margin-left: 0px !important
}

#progressbar2 #step2:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-left: 32%
}

#progressbar2 #step3:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 32%
}

#progressbar2 #step4:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important
}

#progressbar2 #step5:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important
}

#progressbar2 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh
}

#progressbar2 li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 1px;
    z-index: 1
}

#progressbar2 li:nth-child(2):after {
    margin-right: auto
}

#progressbar2 li:nth-child(1):after {
    margin: auto
}

#progressbar2 li:nth-child(3):after {
    float: left;
    width: 68%
}

#progressbar2 li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}

#progressbar2 li.active {
    color: black
}

#progressbar2 li.active:before,
#progressbar2 li.active:after {
    background: #22577E
}

@media only screen and (max-width:992px){
  
  #pendaftaran{
    padding: 60px 0px 60px 0px;
  }
  .formDaftar{
    width: 100%;
  }
  #pac-input {
    margin-left: -56.5%;
    margin-top: 20%;
    width: auto;
  }
  .layananPengaduan{
    padding:100px 0px 100px 0px;
  }
  .formPengaduan{
    width: 100%;
  }

}